Node_Red_Flow
[{"id":"c802b1d5.84e3f","type":"ibmiot in","z":"8f4a940e.be9838","authentication":"apiKey","apiKey":"2aaec02b.72da4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"IoTDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":240,"wires":[["76d58fd4.89efd","f9685586.f5c3e8","9db11719.873b68"]]},{"id":"8e098f25.3ea66","type":"debug","z":"8f4a940e.be9838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":280,"wires":[]},{"id":"76d58fd4.89efd","type":"function","z":"8f4a940e.be9838","name":"Temp","func":"msg.payload=msg.payload.d.temperature \nreturn msg;","outputs":1,"noerr":0,"x":330,"y":160,"wires":[["5ce8e5ec.35c9fc","8e098f25.3ea66"]]},{"id":"f9685586.f5c3e8","type":"function","z":"8f4a940e.be9838","name":"Humidity","func":"msg.payload=msg.payload.d.humidity \nreturn msg;","outputs":1,"noerr":0,"x":350,"y":340,"wires":[["e012f1a5.87f08","8e098f25.3ea66"]]},{"id":"5ce8e5ec.35c9fc","type":"ui_gauge","z":"8f4a940e.be9838","name":"","group":"9e422d52.6654a","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value}}","min":0,"max":"60","colors":["#00b300","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":160,"wires":[]},{"id":"e012f1a5.87f08","type":"ui_gauge","z":"8f4a940e.be9838","name":"","group":"9e422d52.6654a","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":340,"wires":[]},{"id":"36670de3.d6f872","type":"inject","z":"8f4a940e.be9838","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":660,"wires":[["53b7d9bf.ba2a28"]]},{"id":"53b7d9bf.ba2a28","type":"http request","z":"8f4a940e.be9838","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Bengaluru,IN&appid=b0b3fbad9ecdea94e9af13f1cac7b637","tls":"","persist":false,"proxy":"","authType":"","x":110,"y":460,"wires":[["ee7410c0.7bb6f","48c14929.b21488","9bc6e7d8.053b88","fb0546e7.e87b68"]]},{"id":"9db11719.873b68","type":"function","z":"8f4a940e.be9838","name":"Soil","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[["3614f34e.9133ac","8e098f25.3ea66"]]},{"id":"b870ab11.c0e798","type":"ibmiot out","z":"8f4a940e.be9838","authentication":"apiKey","apiKey":"2aaec02b.72da4","outputType":"cmd","deviceId":"1","deviceType":"IoTDevice","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":520,"y":80,"wires":[]},{"id":"5836ea58.b0c904","type":"ui_button","z":"8f4a940e.be9838","name":"","group":"2028b876.1b1158","order":2,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":180,"y":40,"wires":[["b870ab11.c0e798"]]},{"id":"fec8b044.1aa5c","type":"ui_button","z":"8f4a940e.be9838","name":"","group":"2028b876.1b1158","order":1,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":180,"y":120,"wires":[["b870ab11.c0e798"]]},{"id":"ee7410c0.7bb6f","type":"function","z":"8f4a940e.be9838","name":"Description","func":"msg.payload=msg.payload.weather[0].description\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":480,"wires":[["8e098f25.3ea66","de58aa88.1c5468"]]},{"id":"48c14929.b21488","type":"function","z":"8f4a940e.be9838","name":"Temp_min","func":"msg.payload=msg.payload.main.temp_min\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":440,"wires":[["8e098f25.3ea66","133b7c9f.76adb3"]]},{"id":"9bc6e7d8.053b88","type":"function","z":"8f4a940e.be9838","name":"Temp_max","func":"msg.payload=msg.payload.main.temp_max\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":520,"wires":[["8e098f25.3ea66","a9014464.259f48"]]},{"id":"fb0546e7.e87b68","type":"function","z":"8f4a940e.be9838","name":"Location","func":"msg.payload=msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":560,"wires":[["8e098f25.3ea66","7c75c87.b474d38"]]},{"id":"a9014464.259f48","type":"ui_text","z":"8f4a940e.be9838","group":"fb8ffb39.d5fe68","order":2,"width":0,"height":0,"name":"","label":"Maximum Temperature","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":480,"wires":[]},{"id":"133b7c9f.76adb3","type":"ui_text","z":"8f4a940e.be9838","group":"fb8ffb39.d5fe68","order":1,"width":0,"height":0,"name":"","label":"Minimum Temperature","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":440,"wires":[]},{"id":"de58aa88.1c5468","type":"ui_text","z":"8f4a940e.be9838","group":"fb8ffb39.d5fe68","order":3,"width":0,"height":0,"name":"","label":"Weather Description","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":520,"wires":[]},{"id":"7c75c87.b474d38","type":"ui_text","z":"8f4a940e.be9838","group":"fb8ffb39.d5fe68","order":4,"width":0,"height":0,"name":"","label":"Location","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":560,"wires":[]},{"id":"3614f34e.9133ac","type":"ui_gauge","z":"8f4a940e.be9838","name":"","group":"9e422d52.6654a","order":3,"width":0,"height":0,"gtype":"gage","title":"Soil Temperature","label":"Celsius","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":240,"wires":[]},{"id":"2aaec02b.72da4","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"isn8n5.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"9e422d52.6654a","type":"ui_group","z":"","name":"Sensors","tab":"a2683a1e.1f05b8","order":3,"disp":true,"width":"6","collapse":false},{"id":"2028b876.1b1158","type":"ui_group","z":"","name":"Motor","tab":"a2683a1e.1f05b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"fb8ffb39.d5fe68","type":"ui_group","z":"","name":"Weather","tab":"a2683a1e.1f05b8","order":2,"disp":true,"width":6,"collapse":false},{"id":"a2683a1e.1f05b8","type":"ui_tab","z":"","name":"Agriculture","icon":"dashboard","disabled":false,"hidden":false}]
